<header>
    <nav>
        <ul>
            <li>
                <a href="index.html">
                    <span class="fa fa-home"></span>&nbsp;
                    <span>Home</span>
                </a>
            </li>
        </ul>

        <span style="display: flex; justify-content: center; align-items: center;">
                <span id="company-name">ACME Labs BV</span>
                <img src="assets/logos/ACMELabs_logo_bottle.svg" style="padding: 0.5rem"/>
                <span id="app-name">some app</span>
        </span>
        <ul>
            <li>
                <a href="index.html">
                    <span class="fa fa-search"></span>&nbsp;
                    <span>search</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>

